<!DOCTYPE html>
<html>

<head>
  <title></title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="format-detection" content="telephone=no">

  <meta name="keywords" content="" />
  <meta name="description" content="" />

  <link rel="stylesheet" href="assets/css/leaflet.css" />
  <link rel="stylesheet" href="assets/css/styles.css" />

  <script src="assets/js/jquery.js"></script>
  <script src="assets/js/leaflet.js"></script>
  <script src="assets/js/dom-to-image.min.js"></script>
  <script src='assets/js/leaflet-image.js'></script>

  <link href="assets/html/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/html/css/fonts.css" rel="stylesheet">
  <link href="assets/html/css/theme.css" rel="stylesheet">

  <link href="assets/html/css/style.css" rel="stylesheet">
</head>

<body>

<div class="wrapper">
  <main>
    <div class="transition">

      <section data-theme="light" class="block2">
        <div class="container h-100 h-auto">
          <div class="row align-items-center h-100 h-auto">
            <div class="col">
              <div class="row">
                <div class="col-lg-6 map-col">
                  <div class="w">
                    <div class="map" width="1984" height="2835" style="margin-top: 2500px;">
                      <div class="map-container" id="mw">
                        <div id="map"></div>

                        <div id="labels" class="caption">
                          <div class="city">{{ city }}</div>
                          <div class="country"><span>{{ country }}</span></div>
                          <div class="subtitle">{{ subtitle }}</div>
                        </div>
                        <input id="style" type="text" name="style" value="{{style}}">
                        <input id="lat" type="text" name="lat" value="{{lat}}">
                        <input id="lng" type="text" name="lng" value="{{lng}}">
                        <input id="zoom" type="text" name="zoom" value="{{zoom}}">


                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="action">
              <button id="print">Распечатать</button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</div>

<script src="assets/html/js/jquery.min.js"></script>
<script src="assets/html/js/bootstrap.min.js"></script>

<script src="assets/html/js/lib/map.js"></script>
<script src="assets/html/js/lib/svg.js"></script>
<script src="assets/html/js/index.js"></script>
<script src="assets/js/script.js"></script>
<script src="assets/html/js/main.js"></script>

</body>

</html>
